@import url("https://fonts.googleapis.com/css2?family=Inika&family=Roboto:wght@300&display=swap"); /*Logo*/
@import url("https://fonts.googleapis.com/css2?family=Inika&family=Lato:wght@300&family=Roboto:wght@300&display=swap"); /*P Tag*/
@import url("https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Lato:wght@300&family=Roboto:wght@300&display=swap"); /*H1*/

html {
  height: 100%;
}
body {
  min-height: 100%;
}
:root {
  --hot-pink: #ff4083;
  --light-purple: #fdefff;
  --ptag-margin-mobile: 0em 1em 0em 1em;
}

#jam-doughnut,
#biscoff-doughnut {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#img-one-container,
#img-two-container {
  width: 40vw;
  height: 40vw;
  overflow: hidden;
  border-radius: 50%;
}

#container-our-story {
  background-image: linear-gradient(
    177deg,
    var(--hot-pink) 65%,
    var(--light-purple) calc(65% + 2px)
  );
}

#container-our-story h1 {
  margin: 0.5em 0 0.5em 0;
}

#about-us-desc-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#about-us-desc-container h2 {
  color: white;
}
#about-us-desc-container p {
  margin: 0.5em 1em 0.5em 1em;
  color: white;
  font-family: "Inika", serif;
  font-family: "Lato", sans-serif;
  font-family: "Roboto", sans-serif;
}

#images-container-doughnuts {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 2em 0 2em 0;
}

#cross-over-image-container {
  display: flex;
  justify-content: center;
}

#para-container-our-story {
  margin: 0 1em 1em 1em;
}

#para-container-our-story p {
  margin-bottom: 1em;
}
