#ptagColours,
#ptag2,
#stores_button {
  font-family: "Inika", serif;
  font-family: "Lato", sans-serif;
  font-family: "Roboto", sans-serif;
}

p {
  font-size: 1.5em;
}

.redName {
  color: red;
}

#stores_button {
  text-decoration: none;
  border: 2px solid red;
  padding: 5px;
  border-radius: 5px;
  color: black;
  font-weight: bold;
}

#stores_button::after {
  content: ">";
  margin: 0 0.5em 0 0.5em;
}

#stores_button::before {
  content: "";
  margin-left: 0.5em;
}

#navLogo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  padding: 0.3em;
}

#first-section {
  background-color: #ff657d;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-image: url("../images/background_sprinkles.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position-y: -280px;
}

#background-sprinkles h1 {
  margin-bottom: 10px;
}

h1 {
  color: white;
  font-size: 3em;
  text-align: center;
}

#first-section #doughnut-container img {
  height: 100%;
  width: 50%;
  outline: 1px solid black;
}
#doughnut-container {
  font-size: 0;
}
#first-section {
  display: flex;
  align-items: center;
}

#home-description {
  margin: 0 1.5em 2em 1.5em;
  color: white;
}

#bold-font {
  font-weight: bold;
}

#celebrate {
  background-image: url("../images/doughnuts_bkground1-min.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
h2 {
  font-weight: 900;
}
#celebrate h2 {
  margin-top: 0;
  color: white;
  text-align: right;
  margin: 0.5em 0.5em 0 0;
  font-size: 2em;
}

#home-description2 {
  background-image: linear-gradient(
    177deg,
    #ff4083 25%,
    #fdefff calc(25% + 2px)
  );
  position: relative;
}

#cross-over-image {
  width: 70%;
  height: 10em;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 10em;
}

#home-description2 p {
  margin: 0;
  padding: 1em 1em 1em 1em;
}

#home-description2 aside {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: fit-content;
}

#home-description2 aside h2 {
  text-align: center;
}
#home-description2 aside #video-wrapper video {
  width: 90%;
  border: 1px solid black;
}
#home-description2 p {
  color: white;
}
#ptag {
  margin-bottom: 10em !important;
}

#ptag2 {
  color: black !important;
}

#video-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

p {
  line-height: 1.4;
}

#video-heading {
  font-weight: bolder;
}

#home-description3 {
  background-color: white;
  border-top-left-radius: 180px 50px;
  border-top-right-radius: 180px 50px;
  height: 100%;
  margin-bottom: 2em;
}

#ptagColours {
  color: black !important;
  margin: 2em 0 2em 0 !important;
}

#final-heading {
  text-align: center;
  position: relative;
  top: 30px;
}

#stores_button {
  margin: 0 0 2em 1em;
}
