.logo-container-desk {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-left: 0.5em;
}

.logo {
  font-size: 2em;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: white;
}

.logo_img {
  margin-top: 0.2em;
  width: fit-content;
}
