html {
  height: 100%;
}
body {
  min-height: 100%;
}

#container-contact-us {
  background-color: var(--hot-pink);
}

#contact-us-para-container p {
  color: white;

  margin: 1.5em 0.5em 1.5em 0.5em;
}

#contact-us-banner-container {
  position: relative;
  display: flex;
  justify-content: center;
}

#banner-img {
  height: 15em;
  width: 100%;
  opacity: 0.4;
}

#banner-text {
  position: absolute;
  top: 0.5em;
  text-align: center;
  font-size: 3em;
}

#banner-text span {
  color: black;
  font-weight: bolder;
}
