.nav-headings-container-desk li a {
  color: white;
  list-style-type: none;
  font-size: 1.5em;
  text-decoration: none;
}

.nav-headings-container-desk li a:hover {
  color: rgb(255, 142, 161);
}

.nav-headings-container-desk {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  list-style-type: none;
}

#nav-desk {
  width: 100%;
}

.nav-headings-container-desk li:first-child {
  margin-left: 10em;
}

.active-nav a {
  color: var(--hot-pink) !important;
}
